@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,400;0,600;1,400;1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}
* ::selection {
  color: #658320;
  background-color: #F7C67C;
}

/*______GENERAL LAYOUT______*/
body {
  background-color: #FEF5E9;
  font-size: 1.125rem;
  line-height: 135%;
  font-weight: 600;
  color: #C05F28;
  color: #491F08;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

h1 {
  font-size: 2.25rem;
  line-height: 150%;
  font-weight: 600;
  color: #C05F28;
  text-transform: uppercase;
}

h2 {
  font-size: 1.5rem;
  line-height: 150%;
  font-weight: 600;
  color: #C05F28;
  text-transform: uppercase;
  margin-bottom: 0.75rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 150%;
  font-weight: 600;
  color: #C05F28;
  font-style: normal;
  margin-bottom: 0.75rem;
}

.heroimage {
  background-color: #491F08;
  background-image: url(../assets/hero_cover.jpg);
  background-position: top;
  object-fit: cover;
  border-bottom: 3px solid #658320;
  width: 100%;
  height: 180px;
}

main {
  padding: 4rem 0 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section {
  width: 100%;
  padding: 0 1.5rem;
}
main section .titular {
  margin-bottom: 3rem;
}
main section .titular .subtitle {
  color: #C05F28;
}
main .row {
  --bs-gutter-x: 0;
}

/*______HEADER______*/
header {
  position: absolute;
  width: 100%;
}
header .navbar {
  --bs-navbar-toggler-icon-bg: url("../assets/icon_menu.svg");
  --bs-navbar-toggler-font-size: 1.8rem;
  --bs-navbar-toggler-border-color: none;
}
header .navbar .container-fluid {
  padding: 0 0.75rem;
}
header .navbar .container-fluid .navbar-brand img {
  height: 48px;
}
header .navbar .container-fluid .navbar-collapse {
  flex-grow: 0;
}
header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link {
  font-size: 1.5rem;
  line-height: 135%;
  text-transform: uppercase;
  color: #F19F24;
}
header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link :hover {
  color: #658320;
}
header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item #active {
  color: #658320;
}
header .bg-light {
  background-color: #491F08;
  background-image: url(../assets/hero_cover.jpg);
  background-position: top;
  object-fit: cover;
}

/*______FOOTER______*/
footer {
  width: 100%;
  background-color: #120802;
  border-top: 18px solid #658320;
}
footer .footerContent {
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
}
footer .footerContent .footerTexts p {
  color: #C05F28;
  opacity: 60%;
}
footer .footerContent .footerLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .footerContent .footerLinks .footerNav ul {
  display: flex;
  flex-direction: column;
  padding-left: 0;
}
footer .footerContent .footerLinks .footerNav ul li .nav-link {
  font-size: 1.125rem;
  padding: 0.5rem 0;
  text-transform: uppercase;
  color: #F19F24;
}
footer .footerContent .footerLinks .footerNav ul li .nav-link :hover {
  color: #658320;
}
footer .footerContent .footerLinks .footerNav ul li #active {
  color: #658320;
}
footer .footerContent .footerLinks .social a {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
}
footer .footerContent .footerLinks .social a .icon-social {
  fill: #ffffff;
}
footer .footerContent .footerLinks .social a .icon-social :hover {
  fill: #F19F24;
}
footer .footer-legal {
  width: 100%;
  color: #491F08;
  border-top: 1px solid #658320;
  font-size: 1rem;
  text-align: center;
  padding: 0.75rem 0;
}

/*______Buttons______*/
.button {
  display: block;
  font-weight: 600;
  text-transform: uppercase;
  color: #C05F28;
  background-color: #F19F24;
  border: none;
  padding: 0.75rem 2.25rem;
  cursor: pointer;
}
.button :hover {
  color: #F19F24;
  background-color: #658320;
  border: 3px solid #F19F24;
}

.main-home {
  height: 63rem;
  width: 100%;
  background-color: #491F08;
  background-image: url(../assets/hero_cover.jpg);
  background-position: top;
  object-fit: cover;
  text-shadow: 2px 2px 4px #120802;
}
.main-home section .titular-home {
  margin-top: 30vh;
  z-index: 1;
}
.main-home section .titular-home p {
  color: #FBE2BD;
}
.main-home section .titular-home .home-button input {
  margin: 60px 0;
}
.main-home section .titular-home .textPS {
  margin: 30px 0;
  font-style: italic;
  opacity: 50%;
}
.main-home section .home {
  height: 60vh;
  display: flex;
  flex-direction: row-reverse;
}
.main-home section .home .home-woodencio {
  height: 100%;
}

.hithere {
  position: relative;
}
.hithere .hithere-woodencio {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 360px;
  opacity: 0;
  z-index: -1;
}

.content-reference {
  width: 100%;
  background-color: #FBE2BD;
  margin: 2rem 0 3rem;
}
.content-reference .card-reference {
  max-width: 480px;
  text-align: center;
  margin: 0.75rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-reference .card-reference img {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  object-fit: cover;
  margin: 1.5rem;
}
.content-reference .card-reference p {
  color: #765746;
  font-style: italic;
}

.card-image {
  padding: 1.125rem 0;
}
.card-image img {
  width: 100%;
  height: auto;
}
.card-image p {
  color: #765746;
  font-style: italic;
  margin: 0.75rem 0;
}

.gallery {
  width: 100%;
  padding: 0 1.5rem;
}
.gallery .gallery-image {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.gallery .gallery-image li {
  flex-grow: 1;
  flex-basis: auto;
  height: 300px;
  position: relative;
}
.gallery .gallery-image li img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.gallery .gallery-image li .over-text span {
  position: absolute;
  width: 100%;
  bottom: 0;
  font-style: italic;
  color: #F7C67C;
  background: hsla(0, 0%, 0%, 0.5);
  opacity: 0;
  padding: 1rem;
}
.gallery .gallery-image li:hover .over-text span {
  opacity: 1;
}
.gallery .gallery-image::after {
  content: "";
  flex-grow: 999;
}

.contactMe {
  padding: 0;
}
.contactMe .form {
  background-color: #658320;
  padding: 3rem 1.5rem 4.5rem;
}
.contactMe .form h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #FBE2BD;
}
.contactMe .form p,
.contactMe .form label {
  color: #FBE2BD;
}
.contactMe .form form div .sr-only {
  display: none;
}
.contactMe .form form div .form-control {
  font-size: 1.125rem;
  line-height: 135%;
  color: #491F08;
  background-color: #FEF5E9;
  border: 0;
  border-radius: 0;
  padding: 0.5625rem 0.75rem;
  margin-bottom: 1.5rem;
  width: 100%;
}
.contactMe .form form div .form-control::placeholder {
  color: #491F08;
  opacity: 0.6;
}
.contactMe .form .formAbout {
  margin-bottom: 2.25rem;
}
.contactMe .form .formAbout .formAboutCheck {
  display: flex;
  flex-direction: row;
  align-items: first baseline;
  flex-wrap: nowrap;
  margin: 0.75rem 0;
}
.contactMe .form .formAbout .formAboutCheck #contactAwesome,
.contactMe .form .formAbout .formAboutCheck #contactNotSoAwesome,
.contactMe .form .formAbout .formAboutCheck #contactNewsletter {
  margin-right: 0.75rem;
}

.map {
  background-color: #FBE2BD;
  padding: 3rem 1.5rem 4.5rem;
}
.map h2,
.map p {
  text-align: center;
}
.map iframe {
  width: 100%;
  height: 80%;
  min-height: 360px;
}

@media (min-width: 768px) {
  /*md*/
  header .navbar .container-fluid {
    padding: 0 3.75rem;
  }
  main section {
    padding: 0 6rem;
    max-width: 1500px;
  }
  /*______Home______*/
  .main-home {
    height: 100vh;
  }
  .titular-home {
    margin-top: 24vh;
  }
  .home {
    height: 80vh;
    display: flex;
    flex-direction: row-reverse;
  }
  /*______Hi There______*/
  .hithere-woodencio {
    opacity: 1;
  }
  /*______Contact Me Page______*/
  .form,
  .map {
    padding: 3rem 3.75rem 4.5rem;
  }
  .contactMe {
    padding: 0 6rem;
    max-width: 1500px;
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footerContent {
    padding: 2rem 6rem;
    max-width: 1500px;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
  }
  .footerTexts {
    width: 60%;
  }
  .footerLinks {
    width: 20%;
  }
  .footerNav ul li {
    padding: 0.5rem;
  }
}
@media (min-width: 992px) {
  /*______My History Page___*/
  .card-image {
    padding: 0.75rem 3rem;
  }
}

/*# sourceMappingURL=styles.css.map */
