.gallery {
    width: 100%;
    padding: 0 1.5rem;

    .gallery-image {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;

        li {
            flex-grow: 1;
            flex-basis: auto;
            height: 300px;
            position: relative;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
                vertical-align: middle;
            }

            .over-text {
                span {
                    position: absolute;
                    width: 100%;
                    bottom: 0;
                    font-style: italic;
                    color: map-get($palette_secondary, bkg_color);
                    background: hsla(0, 0%, 0%, 0.5);
                    opacity: 0;
                    padding: 1rem;
                    transition: opacity 500ms;
                }
            }

            &:hover .over-text {
                span {
                    opacity: 1;
                }
            }
        }

        &::after {
            content: "";
            flex-grow: 999;
        }

    }
}