.hithere {
    position: relative;

    .hithere-woodencio {
        position: absolute;
        right: 0;
        bottom: 0;
        max-width: 360px;
        opacity: 0;
        z-index: -1;
    }
}

.content-reference {
    width: 100%;
    background-color: map-get($palette_secondary, bkg_light);
    margin: 2rem 0 3rem;

    .card-reference {
        max-width: 480px;
        text-align: center;
        margin: 0.75rem;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 240px;
            height: 240px;
            border-radius: 50%;
            object-fit: cover;
            margin: 1.5rem;
        }

        p {
            color: map-get($palette_secondary, bkg_medium);
            font-style: italic;
        }
    }
}