.card-image {
    padding: 1.125rem 0;

    img {
        width: 100%;
        height: auto;
    }

    p {
        color: map-get($palette_secondary, bkg_medium);
        font-style: italic;
        margin: 0.75rem 0;
    }
}

@media (min-width: 992px) {

    .card-image {
        padding: 0.75rem 3rem;
    }
}