/*______Buttons______*/

.button {
    display: block;
    font-weight: 600;
    text-transform: uppercase;
    color: map-get($palette_primary, color_second);
    background-color: map-get($palette_primary, color_accent);
    border: none;
    padding: 0.75rem 2.25rem;
    cursor: pointer;
    transition: color 500ms, background-color 500ms;

    &:hover {
        color: map-get($palette_primary, color_detail);
        background-color: map-get($palette_primary, color_main);
    }
}