@media (min-width: 768px) {

    /*md*/
    header {
        .navbar {
            .container-fluid {
                padding: 0 3.75rem;
            }
        }
    }

    main {
        section {
            padding: 0 6rem;
            max-width: 1500px;
        }
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;

        .footerContent {
            padding: 2rem 6rem;
            max-width: 1500px;
            flex-direction: row;
            justify-content: space-between;
            align-content: center;

            .footerTexts {
                width: 60%;
            }

            .footerLinks {
                width: 20%;
            }
        }
    }
}
